/FA_Manager.API.BalanceSheet/obj
/FA_Manager.API.BalanceSheet/bin
/FA_Manager.API.Configuration/obj
/FA_Manager.API.Configuration/bin
/FA_Manager.API.Global/obj
/FA_Manager.API.Global/bin
/FA_Manager.API.Payroll/obj
/FA_Manager.API.Payroll/bin
/FA_Manager.API.Reporting/obj
/FA_Manager.API.Reporting/bin
/FA_Manager.Services.BalanceSheet/obj
/FA_Manager.Services.BalanceSheet/bin
/FA_Manager.Services.Configuration/obj
/FA_Manager.Services.Configuration/bin
/FA_Manager.Services.Global/obj
/FA_Manager.Services.Global/bin
/FA_Manager.Services.Payroll/obj
/FA_Manager.Services.Payroll/bin
/FA_Manager.Services.Reporting/obj
/FA_Manager.Services.Reporting/bin
/FA_Manager.Test.Configuration/obj
/FA_Manager.Test.Configuration/bin
/TestCore/bin
/TestCore/obj
/FA_Solutions.Utility/bin
/FA_Solutions.Utility/obj
/FA_Solutions.Microservice/bin
/FA_Solutions.Microservice/obj
/FA_Solutions.AdvanceLibrary/obj
/FA_Solutions.AdvanceLibrary/bin
/FA_Solutions.DataAccess/bin
/FA_Solutions.DataAccess/obj
